{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Shop Page | E-MaRt</title>
    {% endblock title %}

</head>
<body>
    {% block content %}

    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-lg-2 col-md-3 col-sm-6 col-12">

                <div class="list-group">
                    <h5 class="background text-center text-light p-2">Main Category</h5>

                    <a href="/shop/All/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">All</a>

                    {% for i in maincategory %}
                    <a href="/shop/{{i.name}}/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                    
                    {% endfor %}

                </div>
                <div class="list-group">
                    <h5 class="background text-center text-light p-2">SubCategory</h5>

                    <a href="/shop/{{mc}}/All/{{br}}/" class="list-group-item list-group-item-action">All</a>

                    {% for i in subcategory %}
                    <a href="/shop/{{mc}}/{{i.name}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                    
                    {% endfor %}

                </div>
                <div class="list-group">
                    <h5 class="background text-center text-light p-2">Brands</h5>

                    <a href="/shop/{{mc}}/{{sc}}/All/" class="list-group-item list-group-item-action">All</a>

                    {% for i in brand %}
                    <a href="/shop/{{mc}}/{{sc}}/{{i.name}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                    
                    {% endfor %}

                </div>
            </div>

            <div class="col-lg-10 col-md-9 col-sm-6 col-12">

                <h5 class="background text-center text-light p-2" >Products</h5>
                <div class="row">
                    {% for i in data %}
                    <div class="col-xl-2 col-lg-2 col-md-3 col-12">
                        <div class="card my-1" style="width: 13rem;">
                            <img src= "{{i.pic1.url}}" height="250px" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{i.name}}</h5>
                              <p class="card-text">&#8377;<del>{{i.baseprice}}</del><sub>{{i.finalprice}}</sub></p>
                              <p class="card-text">Discount: {{i.discount}}%</p>
                              <p class="card-text">For: {{i.maincategory}}</p>
                              <p class="card-text">Color: {{i.color}}</p>
                              <p class="card-text">Size: {{i.size}}</p>
                              <a href="/singleproduct/{{i.id}}/" class="btn btn-primary background text-light w-100">Show Product</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    {% endblock content %}
</body>
</html>